<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>奕星图书馆管理系统</title>
    <!-- Bootstrap core CSS -->
    <link href="" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }</style>
</head>
<body>
<!--<div shiro:hasPermission="admin">-->
<!--<h1>管理员管理</h1>-->
<!--</div>-->
<!--<div shiro:hasPermission="user">-->
<!--<h1>用户管理</h1>-->
<!--</div>-->
<!--<form class="form-signout" method="post" action="/signout">-->
<!--<button class="btn btn-lg btn-primary btn-block" type="submit">退出登录</button>-->
<!--</form>-->
<!--模板部分-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">奕星图书馆</a>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">

                <ul class="nav flex-column">
                    <li class="nav-item" shiro:hasPermission="admin">
                        <button type="button" class="btn btn-dark btn-md" data-toggle="modal" id="borrowBook"
                                data-target="#borrowBookModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            借&nbsp;&nbsp;&nbsp;&nbsp;书&nbsp;&nbsp;&nbsp;&nbsp;
                        </button>
                    </li>
                    <li class="nav-item" shiro:hasPermission="admin">
                        <button type="button" class="btn btn-dark btn-md" data-toggle="modal" id="returnBook"
                                data-target="#returnBookModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            还&nbsp;&nbsp;&nbsp;&nbsp;书&nbsp;&nbsp;&nbsp;&nbsp;
                        </button>
                    </li>
                    <li class="nav-item" shiro:hasPermission="admin">
                        <button type="button" class="btn btn-dark btn-md" data-toggle="modal" id="addBook"
                                data-target="#addBookModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            新增图书
                        </button>
                    </li>
                    <li class="nav-item" shiro:hasPermission="admin">
                        <button type="button" class="btn btn-dark btn-md" data-toggle="modal" id="addUser"
                                data-target="#addUserModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            新增用户
                        </button>
                    </li>
                    <li class="nav-item" shiro:hasPermission="admin">
                        <a class="nav-link" id="searchBook" data-toggle="modal"
                           data-target="#searchBookModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            查询图书
                        </a>
                    </li>
                    <li class="nav-item" shiro:hasPermission="admin">
                        <a class="nav-link" id="searchUser" data-toggle="modal"
                           data-target="#searchUserModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            查询用户
                        </a>
                    </li>
                    <li class="nav-item" shiro:hasPermission="admin">
                        <a class="nav-link" id="searchOplog">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-bar-chart-2">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                            </svg>
                            查询操作记录
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" id="borrowedBook" data-toggle="modal"
                           data-target="#borrowedBookModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file-text">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            已借图书
                        </a>
                    </li>
                    <li class="nav-item" id="changePassword" data-toggle="modal"
                        data-target="#changePasswordModal">
                        <a class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file-text">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            修改密码
                        </a>
                    </li>
                    <li>
                        <a class="nav-link bg-danger" th:href="@{/signout}">退出</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <div class="row text-right">
                <h2 class="col-md-8">详细信息</h2>
            </div>
            <!--借阅图书模态框-->
            <div class="modal fade" id="borrowBookModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="borrowBookModaModalLabel">借书信息</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">操作编号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="opId"
                                               id="opId_add_input" readonly="true"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">操作方式</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="opWay"
                                               id="opWay_add_input"  value="借阅" readonly="true"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">操作时间</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="opTime"
                                               id="opTime_add_input" readonly="true">
                                        <span
                                                 class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">书本编号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookId"
                                               id="bookId_add_input" placeholder="A123"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">借阅者卡号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="userId"
                                               id="userId_add_input" placeholder="1"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">操作员</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="opUser"
                                               id="opUser_add_input"  th:value="${username}" readonly="true">
                                        <span
                                                 class="help-block"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="borrowBook_save_btn">借书</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--还书模态框-->
            <div class="modal fade" id="returnBookModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="returnBookModaModalLabel">还书信息</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">操作编号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="opId"
                                               id="opId_add_input2" readonly="true"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">操作方式</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="opWay"
                                               id="opWay_add_input2"  value="归还" readonly="true"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">操作时间</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="opTime"
                                               id="opTime_add_input2" readonly="true">
                                        <span
                                                 class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">书本编号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookId"
                                               id="bookId_add_input2" placeholder="A123"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">操作员</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="opUser"
                                               id="opUser_add_input2"  th:value="${username}" readonly="true">
                                        <span
                                                 class="help-block"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="returnBook_save_btn">还书</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--新增学生模态框-->
            <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addUserModalLabel">新增用户信息</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">借书证编号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="userId"
                                               id="addUser_userId_add_input" placeholder="16011"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">借书证条形码号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="userCode"
                                               id="addUser_userCode_add_input"  placeholder="12"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">办理日期</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="regdate"
                                               id="addUser_regdate_add_input"  readonly="true"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="userName"
                                               id="addUser_userName_add_input"  placeholder="小明"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">性别</label>
                                    <div class="col-sm-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="userGender" id="addUser_userGender_add_input1" value="男"> 男
                                        </label> <label class="radio-inline">
                                        <input type="radio" name="userGender" id="addUser_userGender_add_input2" value="女"> 女
                                    </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">年龄</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="userAge"
                                               id="addUser_userAge_add_input" placeholder="18"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">身份证号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="idnum"
                                               id="addUser_idnum_add_input" placeholder="330481199503210931"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">联系电话</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="userPhone"
                                               id="addUser_userPhone_add_input" placeholder="18858370000"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">借书限额</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="brrowlimit"
                                               id="addUser_brrowlimit_add_input" placeholder="6"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">学院</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="colleageId"
                                               id="addUser_colleageId_add_input" placeholder="01"> <span
                                             class="help-block"></span>
                                    </div>
                                    <p>01信息技术系;
                                        02电气与自动化系;
                                        03表演艺术系;
                                        04西药与制作系;
                                        05广播新闻系;
                                        06机械技术系;
                                        07设计艺术系;
                                        08财经贸易系;
                                        09法律政治系;
                                        10旅游与传播系;
                                        11地质与勘测系;
                                        12电子工程系;
                                        13交通与管理系;
                                        14物流与托运系;
                                        15心理与健康系;
                                        16卫生系;
                                        17表演系;
                                        18经济与政治系;
                                        19外语系</p>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">专业</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="majorId"
                                               id="addUser_majorId_add_input" placeholder="1"> <span
                                             class="help-block"></span>
                                    </div>
                                    <p>1计算机;
                                        2机电;
                                        3演艺;
                                        4医药;
                                        5广播新闻;
                                        6机械;
                                        7设计;
                                        8经贸;
                                        9律政
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="addUser_save_btn">新增用户</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--新增图书模态框-->
            <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addBookModalLabel">新增图书信息</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">索书号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="subnum"
                                               id="addBook_subnum_add_input" placeholder=""> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">分类号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="classnum"
                                               id="addBook_classnum_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">ISBN</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="isbn"
                                               id="addBook_isbn_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">题名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookName"
                                               id="addBook_bookName_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">并列书名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookNames"
                                               id="addBook_bookNames_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">第一责任者</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookAuthor"
                                               id="addBook_bookAuthor_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">其他责任者</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookAuthors"
                                               id="addBook_bookAuthors_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">版本</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookVersion"
                                               id="addBook_bookVersion_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">出版社</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookPress"
                                               id="addBook_bookPress_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">出版日期或发行日期</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookPubdate"
                                               id="addBook_bookPubdate_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">购买日期</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookDate"
                                               id="addBook_bookDate_add_input" readonly="true"> <span
                                            class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">页数</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookPage"
                                               id="addBook_bookPage_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">定价</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookPrice"
                                               id="addBook_bookPrice_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前库存册书</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookRemainnum"
                                               id="addBook_bookRemainnum_add_input" readonly="true" value="1"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">登记册书</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookNum"
                                               id="addBook_bookNum_add_input"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">编目员</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="catalogMan"
                                               id="addBook_catalogMan_add_input" th:value="${username}" readonly="true"> <span
                                             class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">图书条形码号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookCode"
                                               id="addBook_bookCode_add_input"> <span
                                            id="helpBlock2" class="help-block"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="addBook_save_btn">新增图书</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--查询图书模态框-->
            <div class="modal fade" id="searchBookModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="searchBookModalLabel">查询图书信息</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">索书号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="subnum"
                                               id="searchBook_subnum_add_input" placeholder=""> <span
                                            class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">图书名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookName"
                                               id="searchBook_bookName_add_input"> <span
                                            class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">作者</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="bookAuthor"
                                               id="searchBook_bookAuthor_add_input"> <span
                                            class="help-block"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="searchBook_save_btn">搜索图书</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <!-- Insert Delete Button-->
                <!-- Student Data -->
                <div class="row">
                    <table class="table table-hover" id="mytable">
                        <thead>

                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <!-- Paging Info -->
                <div class="row" id="pageInfo">
                    <div class="col-md-6 btn btn-sm " id="page_info_area"></div>
                    <div class="col-md-6 btn btn-sm " id="page_nav_area"></div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/manage.js}"></script>
</body>
</html>